/checkouts
*.class
/classes
/.env
*.jar
/.lein-*
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
/lib/
*.log
.nrepl-port
/out
pom.xml
pom.xml.asc
profiles.clj
/.repl
/resources/public/css
/resources/public/js
/.sass-cache
/target
